<div class="main-section">
  <section class="business-news">
    <section class="top-news vertical-section">
      <h1 class="vertical-section-heading">Donec ac nunc id risus</h1>
      <div class="main-article top-new-row1">
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" [isMainArticle]="true" img="https://picsum.photos/600/400?a" summary="
              Apr 10  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet commodo dui, ut tincidunt libero. ">
        </app-article-card>
      </div>
      <div class="top-new-row2">
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?b" summary="Apr 10  |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet commodo dui, ut tincidunt libero.">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?c" summary="Apr 10 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet commodo dui, ut tincidunt libero. ">
        </app-article-card>
      </div>
      <div class="top-new-row3">
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?d">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?a">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?e">
        </app-article-card>
      </div>
    </section>
    <div class="right">
      <section class="latest-news vertical-section">
        <h1 class="vertical-section-heading">varius ultricies.</h1>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error">
        </app-article-card>
      </section>
      <section class="your-news vertical-section">
        <h1 class="vertical-section-heading">Donec fermentum</h1>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?e">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?f">
        </app-article-card>
        <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://picsum.photos/600/400?g">
        </app-article-card>
      </section>
    </div>
  </section>
      <button class="btn-more">lobortis ante at lobortis</button>
</div>
