<horizontal-section title="Lorem Ipsum" [scroll_x]="true">
  <div class="horizontal-section-left">
    <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://placehold.co/600x400?h" summary="Apr 10  |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet commodo dui, ut tincidunt libero. ">
    </app-article-card>
    <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://placehold.co/600x400?l" summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet commodo dui, ut tincidunt libero.">
    </app-article-card>
    <app-article-card heading="Sed ut perspiciatis unde omnis iste natus error" img="https://placehold.co/600x400?m" summary="Apr 10  |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet commodo dui, ut tincidunt libero.">
    </app-article-card>
  </div>
  <div class="horizontal-section-right">
    <app-article-card [isHorizontal]="true" heading="Sed ut perspiciatis unde omnis iste natus error" img="https://placehold.co/600x400?n" summary="Apr 10">
    </app-article-card>
    <app-article-card [isHorizontal]="true" heading="Sed ut perspiciatis unde omnis iste natus error" img="https://placehold.co/600x400?o" summary="Apr 10">
    </app-article-card>
  </div>
</horizontal-section>
