<horizontal-section title="Lorem Ipsum" [scroll_x]="true">
  <div class="horizontal-section-left">
    <app-article-card heading="Et harum quidem rerum facilis est et expedita distinctio" img="https://placehold.co/600x400?h" summary="similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.">
    </app-article-card>
    <app-article-card heading="Et harum quidem rerum facilis est et expedita distinctio" img="https://placehold.co/600x400?l" summary="similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.">
    </app-article-card>
    <app-article-card heading="Et harum quidem rerum facilis est et expedita distinctio" img="https://placehold.co/600x400?m" summary="similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.">
    </app-article-card>
  </div>
  <div class="horizontal-section-right">
    <app-article-card [isHorizontal]="true" heading="Et harum quidem rerum facilis est et expedita distinctio" img="https://placehold.co/600x400?n" summary="similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.">
    </app-article-card>
    <app-article-card [isHorizontal]="true" heading="Et harum quidem rerum facilis est et expedita distinctio" img="https://placehold.co/600x400?o" summary="similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.">
    </app-article-card>
    <app-article-card [isHorizontal]="true" heading="Et harum quidem rerum facilis est et expedita distinctio" img="https://placehold.co/600x400?o" summary="similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.">
    </app-article-card>
  </div>
</horizontal-section>
