<horizontal-section title="Lorem Ipsum">
  <div class="person-section-left">
    <person-card name="ultrices massa" img="https://placehold.co/300x300"
      description="Ut at nisl tincidunt, rutrum nulla eget, sodales tortor." />
    <person-card name="eros metus" img="https://placehold.co/300x300"
      description=" Donec rhoncus tempus accumsan. In hac habitasse platea dictumst." />
    <person-card name="Nullam iaculis" img="https://placehold.co/300x300"
      description="Suspendisse lorem augue, condimentum sit amet erat nec, rhoncus malesuada felis." />
    <person-card name="arcu eleifend" img="https://placehold.co/300x300"
      description="Cras vestibulum suscipit gravida." />
  </div>
  <div class="person-section-right submit-people">
    <article>
      <header>
        <h1>Nam finibus orci</h1>
      </header>
      <p>onec ac nunc id risus varius ultricies ac ac ipsum. Ut non magna nunc. Vivamus gravida mauris feugiat pharetra
        laoreet.</p>
      <footer><button>Get started</button></footer>
    </article>
  </div>
</horizontal-section>
