<horizontal-section title="Lorem Ipsum">
  <div class="event-section-left">
    <event-card date="April 15" name="Et harum quidem rerum facilis"
      description="ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat"></event-card>
    <event-card date="April 22" name="Et harum quidem rerum facilis"
      description="ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat"></event-card>
    <event-card date="May 7" name="Et harum quidem rerum facilis"
      description="ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat"></event-card>
  </div>
  <div class="event-section-right">
    <article>
      <header><h1>harum quidem</h1></header>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <footer><a href="#">perferendis doloribus asperiores</a></footer>
    </article>
  </div>
</horizontal-section>
