<aside>
  <section class="aside-container">
    <div class="container aside-content">
      <a href="#" class="back-top">Back to top</a>
      <div class="flex">
        <h1>accumsan nec turpis</h1>
        <nav class="desktop-nav header-nav">
          <ul class="link-list">
            <li
              class="link-list-item"
            ><a><strong>adipiscing</strong></a></li>
            <li
              class="link-list-item"
            ><a><strong>egestas</strong></a></li>
            <li
              class="link-list-item"
            ><a><strong>rutrum & Vivamus</strong></a></li>
            <li
              class="link-list-item"
            ><a><strong>quam</strong></a></li>
            <li
              class="link-list-item"
            ><a><strong>semper</strong></a></li>
            <li
              class="link-list-item"
            ><a><strong>Nulla</strong></a></li>
            <li
              class="link-list-item"
            ><a><strong>Donec</strong></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <nav class="mobile-nav">
    <app-accordion>
      <app-accordion-item>
        <div
          accordion-item-title
        >
          <h1>
            Vestibulum
          </h1>
        </div>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >sapien euismod vitae</a></li>
          <li class="link-list-item"><a
              href="#"
            >Morbi quis cursus tellus</a></li>
          <li class="link-list-item"><a
              href="#"
            >feugiat nis</a></li>
          <li class="link-list-item"><a
              href="#"
            >Nulla auctor</a></li>
          <li class="link-list-item"><a
              href="#"
            >quis cursus tellu</a></li>
          <li class="link-list-item"><a
              href="#"
            >Donec maximus</a></li>
          <li class="link-list-item"><a
              href="#"
            >Donec elit nisl</a></li>
        </ul>
      </app-accordion-item>
      <app-accordion-item>
        <div
          accordion-item-title
        >
          <h1>
            egestas & nisl
          </h1>
        </div>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >in facilisis</a></li>
          <li class="link-list-item"><a
              href="#"
            >Donec congue consequat</a></li>
          <li class="link-list-item"><a
              href="#"
            >enim tincidunt,</a></li>
          <li class="link-list-item"><a
              href="#"
            >sed & facilisis</a></li>
          <li class="link-list-item"><a
              href="#"
            >congue cursus</a></li>
          <li class="link-list-item"><a
              href="#"
            >facilisis</a></li>
        </ul>
      </app-accordion-item>
      <app-accordion-item>
        <div
          accordion-item-title
        >
          <h1>
            sed semper
          </h1>
        </div>
      </app-accordion-item>
      <app-accordion-item>
        <div
          accordion-item-title
        >
          <h1>
            tincidunt
          </h1>
        </div>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >diam ornare mi</a></li>
        </ul>
      </app-accordion-item>
      <app-accordion-item>
        <div
          accordion-item-title
        >
          <h1>
            ligula
          </h1>
        </div>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >Maecenas vehicula risus</a></li>
          <li class="link-list-item"><a
              href="#"
            >Maurislobortis</a></li>
          <li class="link-list-item"><a
              href="#"
            >faucibus</a></li>
          <li class="link-list-item"><a
              href="#"
            >accumsan</a></li>
          <li class="link-list-item"><a
              href="#"
            >ornare</a></li>
        </ul>
      </app-accordion-item>
    </app-accordion>
  </nav>

  <div class="container">
    <nav class="desktop-nav">

      <section>
        <h1>accumsan</h1>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >Maecenas vehicula</a></li>
          <li class="link-list-item"><a
              href="#"
            >Praesent egestas</a></li>
          <li class="link-list-item"><a
              href="#"
            >leo venenatis</a></li>
          <li class="link-list-item"><a
              href="#"
            >vitae imperdiet</a></li>
          <li class="link-list-item"><a
              href="#"
            >tellus eget ligula</a></li>
          <li class="link-list-item"><a
              href="#"
            >bibendum accumsan</a></li>
          <li class="link-list-item"><a
              href="#"
            >luctus quis enim</a></li>
        </ul>
      </section>

      <section>
        <h1>
          vehicula & risus
        </h1>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >iaculis magna.</a></li>
          <li class="link-list-item"><a
              href="#"
            >Nulla auctor ex diam</a></li>
          <li class="link-list-item"><a
              href="#"
            >lobortis</a></li>
          <li class="link-list-item"><a
              href="#"
            >tellus & tempor</a></li>
          <li class="link-list-item"><a
              href="#"
            >augue quis tempus ornare</a></li>
          <li class="link-list-item"><a
              href="#"
            >sodales</a></li>
        </ul>
      </section>

      <section>
        <h1>feugiat & pellentesque</h1>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >enim tincidunt</a></li>
          <li class="link-list-item"><a
              href="#"
            >facilisis/enim</a></li>
        </ul>
      </section>

      <section>
        <h1>
          Duis
        </h1>
        <ul class="link-list">
          <li class="link-list-item"><a
              href="#"
            >maximus mattis ant</a></li>
          <li class="link-list-item"><a
              href="#"
            >DonecElit</a></li>
          <li class="link-list-item"><a
              href="#"
            >vehicula</a></li>
          <li class="link-list-item"><a
              href="#"
            >maximus</a></li>
          <li class="link-list-item"><a
              href="#"
            >Donec</a></li>
        </ul>
      </section>

    </nav>

  </div>
</aside>

<footer>
  <ul>
    <li><a href="#">vel dolor</a></li>
    <li><a href="#">cursus tellus</a></li>
    <li><a href="#">Nulla auctor</a></li>
    <li><a href="#">euismod vitae</a></li>
    <li><a href="#">dolor feugiat</a></li>
  </ul>
  <div class="container">
    <p>
      © 2025 Nullam sit amet sollicitudin elit. Etiam pharetra pellentesque justo a commodo
      <a href="#">User agreement</a>
      (updated March 25, 2025).
      <a href="#">Privacy policy</a>
      in facilisis enim venenatis. Donec accumsan urna sed facilisis porttitor.
    </p>
  </div>
</footer>
