/* Breakpoints for responsive design */
$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

/* Default sizes */

$size-xs: 0.75rem;
$size-sm: 0.875rem;
$size-base: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;
$size-2xl: 1.5rem;
$size-3xl: 1.875rem;
$size-4xl: 2.25rem;
$size-5xl: 3rem;
$size-6xl: 3.75rem;
$size-7xl: 4.5rem;
$size-8xl: 6rem;
$size-9xl: 8rem;

