<app-header> </app-header>

<aside style="height:100px;"></aside>

<main role="main">
  <div class="container">
    <div class="main-col">

      <main-section></main-section>

      <commercial-real-estate-section></commercial-real-estate-section>

      <people-on-the-move-section></people-on-the-move-section>

      <the-list-section></the-list-section>

      <banking-section></banking-section>

      <events-section></events-section>

      <advertising-section></advertising-section>


    </div>
  </div>
</main>
<app-footer role="contentinfo"></app-footer>
