<horizontal-section title="Lorem Ipsum">
  <div class="list-section-left">
    <company-card category="MANUFACTURING" title="Phasellus eu arcu tempus nulla ultrices."
      description="Donec tincidunt luctus velit, eget dapibus nibh egestas nec">
    </company-card>
    <company-card category="MANUFACTURING" title="Phasellus eu arcu tempus nulla ultrices."
      description="Donec tincidunt luctus velit, eget dapibus nibh egestas nec">
    </company-card>
    <company-card category="MANUFACTURING" title="Phasellus eu arcu tempus nulla ultrices."
      description="Donec tincidunt luctus velit, eget dapibus nibh egestas nec">
    </company-card>
    <company-card category="MANUFACTURING" title="Phasellus eu arcu tempus nulla ultrices."
      description="Donec tincidunt luctus velit, eget dapibus nibh egestas nec">
    </company-card>
  </div>
  <div class="list-section-right">
    <article>
      <header>
        <h1>
          Sed sit amet tortor nunc Vivamus sagittis
        </h1>
      </header>
      <p>
        Get all local list data and updated contact info week-over-week. This is your go-to resource for verified
        intelligence on Nashville's business and decision makers
      </p>
      <footer>
      </footer>
    </article>
  </div>
</horizontal-section>
