<article class="article-card" [class.horizontal]="isHorizontal()" [class.vertical]="!isHorizontal()" [class.disable-border-bottom]="disableBorderBottom()">
  @if(img() !== ""){
      <img  class="responsive-img" src="{{ img() }}" alt="test">
  }
  <div class="article-card-content">
    <header>
     <span class="category">{{ category()}}</span>
      <h2 class="article-card-heading" [class.is-main-article]="isMainArticle()" ><a href="#" attr.aria-label="Read more about {{ heading() }}"> {{ heading() }} </a></h2>
    </header>
    @if(summary() !== "") {
      <p class="article-card-summary"> {{ summary() }}</p>
    }
  </div>
</article>
