<horizontal-section title="Lorem Ipsum">
  <article class="advertising">
    <div class="advertising-left">
      <h2>diam in diam imperdiet pretium</h2>
      <p>Sed sit amet tortor nunc. Vivamus sagittis elementum varius. Proin et lectus in nulla volutpat bibendum ac eu
        erat. Nam finibus aliquam mattis. Nunc tempor magna non ornare pharetra.</p>
      <a href="#" class="connect-btn">amet tortor nunc</a>
    </div>
    <div class="advertising-right">
      <div class="grid">
        <div class="grid-item">
          <h1 class="grid-value">$2.2M
            <fa-icon [icon]="faMoneyBills" size="xl" class="icon"></fa-icon>
          </h1>
          <h2 class="grid-sub-value">Proin et lectus</h2>
        </div>
        <div class="grid-item">
          <h1 class="grid-value">$228M
            <fa-icon [icon]="faTrend" size="xl" class="icon"></fa-icon>
          </h1>
          <h2 class="grid-sub-value">Nunc tempor magna</h2>
        </div>
        <div class="grid-item">
          <h1 class="grid-value">85%<fa-icon [icon]="faGraduation" size="xl" class="icon"></fa-icon></h1>
          <h2 class="grid-sub-value">sagittis elementum+</h2>
        </div>
        <div class="grid-item">
          <h1 class="grid-value">62%
            <fa-icon [icon]="faPeopleRoof" size="xl" class="icon"></fa-icon>
          </h1>
          <h2 class="grid-sub-value">aliquam mattis</h2>
        </div>
      </div>
    </div>
  </article>
</horizontal-section>
